h3 {
    font-size: 30px;
}
ul {
    list-style-type: none;
    padding: 5px;
}
li {
    padding: 20px;
}
.details {
    border-left: 2px solid black;
    margin-bottom: 30px;
}
.details p, li {
    padding-bottom: 15px;
    border-bottom: 1px inset gray;
}
.sel {
    margin-top: 15px;
}

.edu .deg, .edu .date {
    font-size: 25px;
}

.exp .name {
    font-size: 27px;
}
.exp .pos, .exp .loc, .exp .date {
    font-size: 25px;
}

.summary .details {
    border-left: 0px;
    /* border-right: 3px solid black; */
    /* border-bottom: 1px solid black; */
    margin-bottom: 30px;
}