{% extends "Resume.html" %}
{% block content %}
    <div class="edu">
        <h1 class="text-center">Education</h1>
        <div class="row">
            <div class="col-4 title">
                <h3>{{ resume.education[0].name }}, {{ resume.education[0].location }}</h3>
                <p class="deg"> {{ resume.education[0].degree }}</p>
                {% if resume.education[0].end %}
                <p class="date">{{ resume.education[0].start }} - {{ resume.education[0].end }}</p>
                {% else %}
                <p v-class="date">{{ resume.education[0].start }}</p>
                {% endif %}
            </div>
            <div class="col-8 details">
                <ul>
                    {% for detail in resume.education[0].details %}
                    <li>{{ detail }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}